 
   <ul class='lists-right'>
       <li><%= link_to (@tweet||@trip).user.image, user_path(current_user.id), class: "user-image"  %></li>
       <li><%= link_to (@tweet||@trip).user.nickname, user_path(current_user.id), class: "user-nickname"  %></li>
       <li><%= link_to "フォロワー",  users_relationships_path, class: "user-nickname"  %></li>
       <li><%= link_to "フォロー中",   users_relationships_path, class: "user-nickname"  %></li>
 
 <%  if current_user.id == (@tweet.user.id || @trip.user.id)%>
    <%= link_to 'プロフィールの編集',  '#', method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to 'ログアウト', '#', method: :delete, class:'item-destroy' %>
    <%= link_to '削除', '#', method: :delete, class:'item-destroy' %>
  
  
    
    

    <%else %>

    
  <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', tweet_user_path(@tweet.user.id) || trip_user_path(@trip.user.id), method: :delete %>
  <% else %>
    <%= link_to 'フォローする', tweet_user_path(@tweet.user.id) || trip_user_path(@trip.user.id), method: :POST %>
  <% end %>
<% end %>

